<!-- Only used for deploying to github packages -->
<settings>
    <profiles>
        <profile>
            <id>github-deploy</id>
            <properties>
                <altSnapshotDeploymentRepository>snapshots::default::https://jorgeb1980:${env.GITHUB_TOKEN}@maven.pkg.github.com/jorgeb1980/lib-cli-base</altSnapshotDeploymentRepository>
                <altReleaseDeploymentRepository>releases::default::https://jorgeb1980:${env.GITHUB_TOKEN}@maven.pkg.github.com/jorgeb1980/lib-cli-base</altReleaseDeploymentRepository>
            </properties>
        </profile>
    </profiles>

    <activeProfiles>
        <activeProfile>github-deploy</activeProfile>
    </activeProfiles>
</settings>