<!-- Only used for deploying to github packages -->
<settings>
    <profiles>
        <profile>
            <id>github-deploy</id>
            <properties>
                <altSnapshotDeploymentRepository>snapshots::default::https://maven.pkg.github.com/jorgeb1980/lib-cli-base</altSnapshotDeploymentRepository>
                <altReleaseDeploymentRepository>releases::default::https://maven.pkg.github.com/jorgeb1980/lib-cli-base</altReleaseDeploymentRepository>
            </properties>
        </profile>
    </profiles>

    <activeProfiles>
        <activeProfile>github-deploy</activeProfile>
    </activeProfiles>

    <servers>
        <server>
            <id>github</id>
            <username>jorgeb1980</username>
            <password>${env.GITHUB_TOKEN}</password>
        </server>
    </servers>
</settings>